<!-- Head y nav bar -->
<%- include("templates/header.ejs", {tituloWeb: "Error 404: Página No Encontrada - EmpowerED"}) %>
<!-- Custom CSS -->
<link rel="stylesheet" href="./css/404.css">
<!-- Navbar CSS -->
<link rel="stylesheet" href="./css/custom.css">
</head>

<body class="d-flex flex-column h-100">


<!-- Inicio del contenido -->
<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
    <h1>:(</h1>
    </div>
  <h2>404 - Página no Encontrada</h2>
  <p>
    La página que estás buscando podría estar temporalmente inaccesible o ha sido eliminada.
  </p>
  <a href="/">página principal</a>
  </div>
</div>

