<!-- Head y nav bar -->
<%- include("templates/header.ejs", {tituloWeb: "EmpowerED - Expo 2021 ¡Supérate! ADOC"}) %>
<!-- Custom css-->
<link rel="stylesheet" href="./css/index.css">

</head>

<body class="body">
 <!-- Navigation bar-->
 <%- include("templates/nav.ejs") %> 

<!-- Inicio del contenido -->


<!-- Section -->



<section class="section-banner d-flex align-items-center" >
  <div class="container">
      <div class="row">
          <div class="col-lg-7 mr-auto">
             <div class="banner-content">
                  <span>Martes 5 de octubre, 9:00am</span>
                  <h1 class="mt-3 mb-5 fw-bold">EmpowerED <br> Expo 2021</h1>
                  <a href="https://web.facebook.com/SuperateADOC" class="btn btn-hero btn-rounded">Facebook page</a>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Countdown -->
<section class="overflow-hidden counter-wrapper pt-4 pb-5">
	<div class="container">
		<div class="counter-inner">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="counter-stat">
						<h2 class="font-weight-light"><span class="font-weight-bold">Count the day</span> <br>until conference start</h2>
					</div>
				</div>
			    <div id="simple-timer" class="syotimer"></div>
			</div>
		</div>
	</div>
</section>


<!-- Testimonial section-->
<section class="titulo-testi flex-column text-center">
<h1 class="mt-3 mb-5 fw-bold">Testimonios</h1>
<h2 style="line-height: 1.2;font-weight: 400;font-size: 1.375rem;">Estudiantes de Segundo Año en ¡Supérate! nos narran acerca de su experiencia impartiendo los webinars.</h2>
</section>

<section class="tarjetas">
<!-- Swiper -->
 <div class="swiper mySwiper">
  <div class="swiper-wrapper">

    <div class="swiper-slide">
      <div class="testimonialBox">
        <img src="./img/right-quote.png" alt="Quote" class="quote">
        <div class="content">
          <p>El haber tenido la oportunidad de haber sido facilitadores de los webinars fue una experiencia única e inigualable ya que pudimos poner en practica los valores ¡Supérate! en los webinars, y haber tenido una experiencia de lo que es ser un teacher en la virtualidad.</p>
          <div class="details">
            <div class="imgBx">
              <img src="./img/fabio.png" alt="Ricardo Menjivar">
            </div>
            <h3>Ricardo Menjívar<br><span>Estudiante segundo año</span></h3>
          </div>
        </div>
      </div>
    </div>

    <!-- 1 -->
    <div class="swiper-slide">
      <div class="testimonialBox">
        <img src="./img/right-quote.png" alt="Quote" class="quote">
        <div class="content">
          <p>Students of the class of 2022 aim to empower applicants to the 
            ¡Supérate! Program by sharing basic knowledge of 
            Computing, Values, and English through a series of webinars. Besides that, the relationship between current students and applicants is strengthened by having a better understanding of the program hola.</p>
          <div class="details">
            <div class="imgBx">
              <img src="./img/eliseo.jpg" alt="teacher eliseo">
            </div>
            <h3>Eliseo Rivas<br><span>English Teacher</span></h3>
          </div>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="swiper-slide">
      <div class="testimonialBox">
        <img src="./img/right-quote.png" alt="Quote" class="quote">
        <div class="content">
          <p>Ante el desarrollo de la expo, todo el trabajo, esfuerzo y dedicación que aplicamos ha valido la pena ya que realmente hemos compartido aprendizaje con los demás,pero al tener los webinars, realmente nos damos cuenta del potencial que tenemos, y así mismo del aprendizaje que obtuvimos cuando nos tuvimos esa experiencia, tomando en cuenta el apoyo  tanto de parte de nuestros compañeros, como de nuestros teachers/ mentores, fueron pilares esenciales para desarrollar los Webinars de la mejor manera posible aplicando los valores ¡Supérate!
          </p>
          <div class="details">
            <div class="imgBx">
              <img src="./img/jacqueline.jpeg" alt="Jacqueline">
            </div>
            <h3>Jacqueline Martínez<br><span>Estudiante segundo año</span></h3>
          </div>
        </div>
      </div>
    </div>
    <!-- 3 -->

    <div class="swiper-slide">
      <div class="testimonialBox">
        <img src="./img/right-quote.png" alt="Quote" class="quote">
        <div class="content">
          <p>Ser parte de este proceso EmpowerED fue una experiencia muy única, ya que el poder compartir  con chicos, un poco de lo que he aprendido en casi dos años es una experiencia muy unica, porque con los webinars pude inspirar, motivar  y compartir conocimientos a otras personas, superando las barreras de la distancia mediante la virtualidad.</p>
          <div class="details">
            <div class="imgBx">
              <img src="./img/evelyn.jpeg" alt="Jacqueline">
            </div>
            <h3>Evelyn Fuentes<br><span>Estudiante segundo año</span></h3>
          </div>
        </div>
      </div>
    </div>
    

  </div>



</section>


<!-- footer
<%- include("templates/footer.ejs") %> 