</main> 
<!--footer start-->
<footer>
    <div class="footer-wrap">
    <div class="container first_class">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <h3>BE THE FIRST TO KNOW</h3>
            <p>Get information about the expo and be part of it</p>
            
          </div>
         
        </div>
    </div>
      <div class="second_class">
        <div class="container second_class_bdr">
        <div class="row">
          <div class="col-md-4 col-sm-6">
  
            
            <p>Learn more about the EmpowerED event on this page made for you</p>

            <div class="footer-logo">
                <center> <img src="./img/flog.png" width="200"></center>
             </div>

          </div>
          
          <div class="col-md-2 col-sm-6">
            <h3>EmpowerED</h3>
            <ul class="footer-links">
              <li><a href="/">Home</a>
              </li>
              <li><a href="/Galeria">Galeria</a>
              </li>
              <li><a href="/DevTeam">DevTeam</a>
              </li>
              <li><a href="/Horario">Horario</a>
              </li>
             
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <h3>About Expo</h3>
            <ul class="footer-category">
              <li><a href="/Horario">Horario</a>
              </li>
              <li><a href="/DevTeam">DevTeam</a>
              </li>
  
              <li><a href="https://www.facebook.com/SuperateADOC">Centro ¡Supérate! ADOC</a>
              </li>
              
            
            <div class="clearfix"></div>
          </div>
          <div class="col-md-3 col-sm-6">
            <h3>About Us</h3>
            <div class="standard_social_links">
                <div>
                  <li class="round-btn btn-facebook"><a href="https://www.facebook.com/SuperateADOC"><i class="fab fa-facebook-f"></i></a>
        
                  </li>
                  
                  <li class="round-btn btn-twitter"><a href="https://twitter.com/Superate_ADOC"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        
                  </li>
                  <li class="round-btn btn-instagram"><a href="https://www.instagram.com/superate_adoc/"><i class="fab fa-instagram" aria-hidden="true"></i></a>
        
                  </li>
                 
                </div>
                </div>
                </div>
        </div>
        
      </div>
      </div>
      
      <div class="row">
        
        <div class="container-fluid">
        <div class="copyright"> Copyright© 2021 - Hecho con #ActitudADOC por Ricardo Menjívar y Reynaldo Ramos</div>
        </div>
        
      </div>
    </div>
    
    </footer>
  
  <!--footer end-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- Font Awesome 5 links-->
    <script src="https://kit.fontawesome.com/fddf5c0916.js" crossorigin="anonymous"></script>
<!-- Bootstrap core JS-->
<script src="./libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>