</main>
  <!--First Footer-->  
  <footer>
              
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img class="logo-footer" src="./img/log.png">
                </div>

                <div class="col-md-4">
                    <p class="text-foot">
                        <div class="container px-5">
                            <a class="navbar-brand" href="/"><id class="text">Empower</id><span class="fw-bold text-primary">ED</span></a></div>
                    </p>
                    
                    <p>
                      <a class="nav-link" href="/">Home</a> 
                      <a class="nav-link" href="/galeria">Galería</a></li>
                      <a class="nav-link" href="/horario">Horario</a>
                    </p>

                </div>
                <div class="col-md-4">
                    <p class="text-foot">
                        Contactos
                     </p>
                    
                     <a href="https://www.facebook.com/SuperateADOC">
                        <img class="logos" src="https://image.flaticon.com/icons/png/512/20/20673.png">
                       </a>

                       <a href="https://twitter.com/Superate_ADOC">
                           <img class="logos" src="https://image.flaticon.com/icons/png/512/49/49351.png">
                          </a>
          

                </div>
            </div>
        </div>
    </div>
<!--Second Footer-->
    <div id="pie-footer">
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                  <p class="titulo-footer"><i>Copyright© 2021 - Hecho con #ActitudADOC por Ricardo Menjívar y Reynaldo Ramos</i></p>
              </div>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="./libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>