<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title><%= tituloWeb %></title>
        <meta name="description" content="La Feria de Logros tiene por objetivo dar a conocer el aprendizaje y dominio del idioma inglés💬 de nuestros becarios después de un año y medio de estudios en el Programa."/>
        <meta name="author" content="Fabio Menjívar, Reynaldo Ramos, Keiry Rivera"/>
        <link rel="base" href="https://expoempowered.com"/>
        <link rel="canonical" href="https://expoempowered.com"/>
        <meta rel="sitemap" type="application/xml" content="https://expoempowered.com"/>
        <meta name="robots" content="index/follow"/>
        <meta name="googlebot" content="index/follow"/>
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#154E81"/>
        <meta name="msapplication-navbutton-color" content="#154E81"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="#154E81"/>
        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="EmpowerED | Expo Virtual ¡Supérate! ADOC"/>
        <meta itemprop="description" content="La Feria de Logros tiene por objetivo dar a conocer el aprendizaje y dominio del idioma inglés💬 de nuestros becarios después de un año y medio de estudios en el Programa."/>
        <meta itemprop="image" content="img/expo2020.png"/>
        <!-- markup for facebook -->
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="EmpowerED | Expo Virtual ¡Supérate! ADOC"/>
        <meta property="og:url" content="https://expoempowered.com"/>
        <meta property="og:site_name" content="EmpowerED | Expo Virtual ¡Supérate! ADOC"/>
        <meta property="og:image" content="img/expo2020.png"/>
        <meta property="og:description" content="La Feria de Logros tiene por objetivo dar a conocer el aprendizaje y dominio del idioma inglés💬 de nuestros becarios después de un año y medio de estudios en el Programa."/>
        <!-- markup for twitter -->
        <meta name="twitter:card" content="Summary Large Image"/>
        <meta name="twitter:title" content="EmpowerED | Expo Virtual ¡Supérate! ADOC"/>
        <meta name="twitter:description" content="La Feria de Logros tiene por objetivo dar a conocer el aprendizaje y dominio del idioma inglés💬 de nuestros becarios después de un año y medio de estudios en el Programa."/>
        <meta name="twitter:creator" content="Fabio Menjívar, Reynaldo Ramos, Keiry Rivera"/>
        <meta name="twitter:image" content="img/expo2020.png"/>
        <!-- JSON-LD - structured data markup Google Search -->
        <script type="application/ld+json">
        {"@context":"http://www.schema.org","@type":"event","name":"EmpowerED | Expo Virtual ¡Supérate! ADOC","url":"https://expoempowered.com","description":"La Feria de Logros tiene por objetivo dar a conocer el aprendizaje y dominio del idioma inglés💬 de nuestros becarios después de un año y medio de estudios en el Programa.","location":{"name":"EmpoweredED | Expo Virtual ¡Supérate! ADOC","@type":"Place","sameAs":"https://expoempowered.com"},"address":{"streetAddress":"Calle Montecarmelo #800, Soyapango, San Salvador, El Salvador","@type":"PostalAddress","addressLocality":"Soyapango","addressRegion":"San Salvador","addressCountry":"El Salvador"},"offers":{"url":"https://expoempowered.com","@type":"Offer"}}
        </script>
        <!-- FAVICONS -->
        <link rel="shortcut icon" alt="superate adoc" sizes="16x16" href="./img/16.png">
        <link rel="shortcut icon" alt="superate adoc" sizes="32x32" href="./img/32.png">
        <link rel="apple-touch-icon icon" alt="superate adoc" sizes="76x76" href="./img/76.png">
        <link rel="apple-touch-icon icon" alt="superate adoc" sizes="120x120" href="./img/120.png">
        <link rel="apple-touch-icon icon" alt="superate adoc" sizes="152x152" href="./img/152.png">
        <link rel="apple-touch-icon icon" alt="superate adoc" sizes="180x180" href="./img/180.png">
        <link rel="apple-touch-icon icon" alt="superate adoc" sizes="192x192" href="./img/192.png">

        <!-- Bootstrap CSS Sass)-->
        <link href="./css/style.css" rel="stylesheet" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="./css/custom.css">
    </head>

    <body class="d-flex flex-column h-100">
        <!-- Navigation bar-->
        <%- include("nav.ejs") %> 
